.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    align-items: center;
    gap: 4%;
  }

  .inputsContainer {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .resultContainer {
    width: 48%;
    height: 100%;
  }
}
