* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan1: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan1: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
